{% extends "./base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content%}
<h1>This is the Library page.</h1>

<section>
    {% for book in books %}
    <div>
        <figure>
            <img src="{{MEDIA_PREFIX}}{{ book.thumbnail.url }}" width="141px" height="225px" alt="Cover image of {{ book.title }} by {{ book.author }}">
            <figcaption> {{ book.title }} by {{ book.author }} </figcaption>
        </figure>
        <button>Details</button>
    </div>
    {% endfor %}
</section>
{% endblock %}